@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');
body {
    font-family: 'Rajdhani', sans-serif;
}
.center-vertically {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
.row {
    justify-content: center;
}
h1{
    font-size: 15vw;
    font-weight: 700;
}